page-folder-browser {

    .top-left{
        position:fixed; top:0; left:0;
    }
    .top-right{
        position:fixed; top:0; right:0;
    }
    ion-item{
        position: fixed;
        top: 0;
    }
    ion-col{
        
        ion-icon {
            display: inline-block;
            font-size: 5.2em;
        }
    }

}
