page-folder-browser {
  .top-left {
    position: fixed;
    top: 0;
    left: 0;
  }
  .top-right {
    position: fixed;
    top: 0;
    right: 0;
  }
  .bottom-right {
    position: fixed;
  }
  #address-bar {
    position: fixed;
    top: 0;
    left: 0;
    * {
      margin-left: 10px;
    }
  }
  ion-label {
    // margin: 0;
    // display: block;
    // overflow: unset;
    // -webkit-box-flex: 1;
    // -webkit-flex: 1;
    // -ms-flex: 1;
    // flex: 1;
    // font-size: inherit;
    // text-overflow: ellipsis;
    // white-space: unset;
    // word-break: break-word;
  }
  .col {
    // padding: 5px;
    // position: relative;
    // width: 100%;
    // margin: 0;
    // min-height: 1px;
    // -webkit-flex-basis: 0;
    // -ms-flex-preferred-size: 0;
    // flex-basis: 0;
    // -webkit-box-flex: 1;
    // -webkit-flex-grow: 1;
    // -ms-flex-positive: 1;
    // max-width: 30%;
  }

  ion-col {
    ion-icon {
      // display: inline-block;
      font-size: 5.2em;
    }
  }
  .button-inner{
    display: block;
  }
  .button-clear{
    min-width: 100px;
    height: 50px;
  }
}
