<div [class.fade-in]="inSelection" [class.fade-out]="!inSelection">
  <ion-item no-lines>
    <button ion-button clear (mousedown)="increaseHeader()">
      <label>h up</label>
    </button>
    <button ion-button clear (mousedown)="decreaseHeader()">
      <label>h down</label>
    </button>
    <button ion-button clear (mousedown)="bold()">
      <strong>b</strong>
    </button>
    <button ion-button clear (mousedown)="italic()">
      <i>i</i>
    </button>
    <button ion-button clear (mousedown)="strikeout()">
      <del>st</del>
    </button>
    <button ion-button clear (mousedown)="bullet()">
      <label>-</label>
    </button>
    <button ion-button clear (mousedown)="bulletNumber()">
      <label>1.</label>
    </button>
    <button ion-button clear (mousedown)="quote()">
      <label>></label>
    </button>
    <button ion-button clear (mousedown)="code()">
      <label>code</label>
    </button>
    <button ion-button clear (mousedown)="function()">
      <label>img</label>
    </button>
    <button ion-button clear (mousedown)="function()">
      <label>link</label> 
    </button>
    <button ion-button clear (mousedown)="line()">
      <label>---</label>
    </button>
  </ion-item>
</div>
