<ion-content fullscreen (document:keyup)="onKeyUp($event)" (document:selectionchange)="onSelectionChange($event)" (window:resize)="onResize($event)">

  <!-- <templates #templates></templates> -->

  <div id="title-bar">
    <ion-item no-lines [class.slide-in-top]="searchMode" [class.slide-out-top]="!searchMode">
      <ion-input id="search-bar" #searchBar type="search" (keyup)="onSearchInput($event)"></ion-input>
      <ion-buttons item-end>
          <button ion-button clear icon (tap)="toggleSearch()">
              <ion-icon name="close"></ion-icon>
            </button>
        <button ion-button clear icon (tap)="goTo({forward: true})">
          <ion-icon name="arrow-down"></ion-icon>
        </button>
        <button ion-button clear icon (tap)="goTo({forward: false})">
          <ion-icon name="arrow-up"></ion-icon>
        </button>
        <label>{{matchIndex}}/{{matches}}</label>
      </ion-buttons>`
    </ion-item>
  </div>

  <span *ngIf="!smallScreen" id="wide" [class]="previewMode">
    <span #input id="first-screen" [class.notFocused]="textFocused" contenteditable="true" (input)="onEditInput()">
      <div data-text="Content"></div>
    </span>
    <span #output id="second-screen" [style.fontSize]="textSize" [style.fontFamily]="textFont" [style.color]="textColor"></span>
  </span>

  <span *ngIf="smallScreen" id="small">
    <ion-slides #slider>
      <ion-slide>
        <span #input id="first-screen" [class.notFocused]="textFocused" contenteditable="true" (input)="onEditInput()">
          <div data-text="Content"></div>
        </span>
      </ion-slide>
      <ion-slide>
        <span id="second-screen" #output [style.fontSize]="textSize" [style.fontFamily]="textFont" ></span>
      </ion-slide>
    </ion-slides>
  </span>

  <ion-buttons class="top-left">
    <button ion-button clear menuToggle>
      <ion-icon color='black' name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons *ngIf='!smallScreen' class="top-right">
    <button ion-button clear (tap)="exitApp()">
      <ion-icon color='black' name="close"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons *ngIf='smallScreen' [class.searchMode]="searchMode" class="top-right">
    <button ion-button clear (tap)="toggleSearch()">
      <ion-icon color='black' name="search"></ion-icon>
    </button>
    <button ion-button clear (tap)="undo()">
      <ion-icon color='black' name="undo"></ion-icon>
    </button>
    <button ion-button clear (tap)="redo()">
      <ion-icon color='black' name="redo"></ion-icon>
    </button>

  </ion-buttons>


  <ion-buttons *ngIf='!smallScreen' class="bottom-right">

    <button ion-button clear (tap)="showPopover($event)">
      <ion-icon color='black' name="eye"></ion-icon>
    </button>
  </ion-buttons>

  <!-- <div id="status-bar">Word Count: {{wordCount}} </div> -->


  <ion-fab *ngIf="isTemplate" right bottom>
    <button ion-fab (tap)="selectTemplate()">
      <ion-icon name="copy"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
