<ion-content fullscreen (window:resize)="onResize($event)"  >

  <!-- <templates #templates></templates> -->

  <span *ngIf="!smallScreen" id="wide" [class]="previewMode">
    <span #input id="first-screen" [class.notFocused]="textFocus"  contenteditable="true" (input)="render()"><div>Content</div></span>
    <span #output id="second-screen" [style.fontFamily]="textFont" [style.color]="textColor"></span>
  </span>

  <span *ngIf="smallScreen" id="small">
    <ion-slides>
      <ion-slide>
        <span #input id="first-screen" [class.notFocused]="textFocus" contenteditable="true" (input)="render()">
          <div>Content</div>
        </span>
      </ion-slide>
      <ion-slide>
        <span id="second-screen" #output></span>
      </ion-slide>
    </ion-slides>
  </span>

  <ion-buttons class="top-left">
    <button ion-button clear menuToggle>
      <ion-icon color='black' name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons *ngIf='!smallScreen'  class="top-right">
    <button ion-button clear (click)="closeApp()">
      <ion-icon color='black' name="close"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons *ngIf='smallScreen'  class="top-right">
    <button ion-button clear (click)="undo()">
      <ion-icon color='black' name="undo"></ion-icon>
    </button>
    <button ion-button clear (click)="redo()">
      <ion-icon color='black' name="redo"></ion-icon>
    </button>


  </ion-buttons>

<ion-buttons *ngIf='!smallScreen' class="bottom-right">

    <button ion-button clear (click)="switchViews()">
      <ion-icon color='black' name="eye"></ion-icon>
    </button>
  </ion-buttons>

  <div *ngIf="wordCounter" id="status-bar">Word Count: {{wordCount}}

  </div>


</ion-content>
