templates {
    ion-segment{
        position: absolute;
        // display: inline-block;
        display: none;

        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        -webkit-overflow-scrolling: touch;     

        ion-segment-button{
            display: unset;
            width: auto !important;
            margin-left: 5px;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 0;
            height: 4.2rem;
            border-bottom-width: unset;
            border-bottom-style: unset;
            border-bottom-color: rgba(0, 0, 0, 0.1);
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 4rem;
            text-transform: uppercase;
            color: unset;
            background-color: transparent;
            opacity: 0.7;
            -webkit-transition: 100ms all linear;
            transition: 100ms all linear;
            padding: 0 6px;
        }

        ion-button{
            display: inline-block;
            width: auto !important;
            margin-left: 5px;
        }
        
        
    }



.segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: auto !important;
    border-bottom-width: 2px;
    border-bottom-style: unset !important;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #488aff;
    background-color: transparent;
    opacity: 0.7;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
}
}
