page-settings {
  #header-colors {
    ion-buttons{
      width: 50%;
    }
    button {
      width: 40px;
      height: 40px;
    }
  }

  #text-colors {
    button {
      width: 40px;
      height: 40px;
    }
  }
}
