<ion-menu [class]="settings.config.theme" [content]="content"
    (document:keyup)="onKeyUp($event)"
>
  <ion-header>
    <ion-toolbar>
      <!-- <ion-title center >MEANING</ion-title> -->
      <ion-item id="toolbar" no-lines>
        <ion-label>
          <ion-chip *ngIf="keyword">
            <ion-label>{{keyword.long}}</ion-label>
            <!-- <button (tap)="clearKeyword()" ion-button clear color="light">
              <ion-icon name="close"></ion-icon>
            </button> -->
          </ion-chip>
        </ion-label>
        <ion-input clearInput type="search" id="title" #searchbar [(ngModel)]="searchWords" (ionFocus)="showFiles()" (ionBlur)="showMenu()"
          (keyup)="searchFiles()" no-icon placeholder="M E A N I N G"></ion-input>
      </ion-item>
      <!-- <ion-chip >
            <ion-label>tag</ion-label>
              <button ion-button clear color="light">
                <ion-icon name="close"></ion-icon>
              </button>
          </ion-chip>
          <ion-item></ion-item>
          <ion-input></ion-input> -->
      <!-- <ion-searchbar id="title" #searchbar [(ngModel)]="searchWords" (ionFocus)="showFiles()" (ionBlur)="showMenu()" (input)="searchFiles()"
            no-icon placeholder="M E A N I N G">
          </ion-searchbar> -->
    </ion-toolbar>
  </ion-header>

  <ion-content id="menu" padding-left>
    <ion-list>
      <expandable #mainList [expanded]="!keyword" (state)="searchKeywords($event)" title="Main">
        <span *ngFor="let p of state.main">
          <button menuClose ion-item no-lines *ngIf="p.element.do" (tap)="p.element.do()">
            {{p.title}}
          </button>
          <button menuClose ion-item no-lines *ngIf="p.element.component" (tap)="openPage(p.element)">
            {{p.title}}
          </button>
        </span>
      </expandable>
      <!-- <span *ngFor="let key in state">

        <expandable #projects [expanded]="keyword.long===key" title="Bookmarks">
          <button ion-item no-lines *ngFor="let el of state[key]" (tap)="loadProjectFiles(path.url)">
            {{path}}
          </button>
        </expandable>
      </span> -->


      <expandable #projects [expanded]="keyword && keyword.long==='bookmark'" (state)="searchKeywords($event ? 'bookmark' : null)" title="Bookmarks">
        <button ion-item no-lines *ngFor="let path of state.bookmark" (tap)="loadProjectFiles(path.element.url)">
          {{path.title}}
        </button>
      </expandable>

      <!-- <expandable #filesList [expanded]="keyword && (keyword.long=='files' || (state.files && keyword.long=='bookmark'))" (state)="searchKeywords($event ? 'files' : null)" title="Files">
        <button menuClose ion-item no-lines *ngFor="let file of state.files" (tap)="openFile(file)">
          {{file.title}}
        </button>
      </expandable> --> 

      <expandable #headers [expanded]="keyword && keyword.long=='headers'" (state)="searchKeywords($event ? 'headers' : null)" title="Headers">
        <button  ion-item no-lines *ngFor="let header of state.headers" (tap)="goToElement(header.element.id)">
            <sup>H{{header.element.level}}</sup> {{header.title}}
        </button>
      </expandable>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [class]="settings.config.theme" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<div id="draggable"></div>
