<div>
  <ion-item no-lines 
    [class.fade-in]="searchMode" [class.fade-out]="!searchMode">
    <ion-input id="search-bar" #searchBar type="search" (keyup)="onSearchInput($event)"></ion-input>
    <ion-buttons item-end>
      <label class="counter">{{currentMatchIndex+1}}/{{matches+1}}</label>
      <button ion-button clear icon (mousedown)="toggleSearch($event)">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button clear icon (mousedown)="goTo($event,{forward: false})">
        <ion-icon name="arrow-up"></ion-icon>
      </button>
      <button ion-button clear icon (mousedown)="goTo($event,{forward: true})">
        <ion-icon name="arrow-down"></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>
</div>
